<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
    <main>
        <div class="content fade-in">
            {{ content }}
        </div>
    </main>
    
    {%- if site.ghostly.linkwrapping -%}
        {%- include linkwrapping.html -%}
    {%- endif -%}
    
    <!--  Lightbox Javascript -->
    {%- if page.lightbox -%}
    <script>
        lightbox.option({
            'fitImagesInViewport': true,
            'wrapAround': true,
            'alwaysShowNavOnTouchDevices': true,
            'FadeDuration': 2000,
            'imageFadeDuration': 200,
            'resizeDuration': 500
        })
    </script> 
    {%- endif -%}
    
    </body>
</html>
