<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
    
    <header class="site-header" role="banner">
        {%- if page.showmoon == true -%}
        <a href="https://colab.research.google.com/drive/1HIRobyRw2-6M2O0-dqRGn8PQArsydvJd?usp=sharing"><img src="images/moon.png" alt="crescent moon" width="50"></a>
        {%- endif -%}

        {%- if page.finished == false -%}
        <h1>thank you for trying to read these comments.</h1>
        {%- endif -%}


        <h1>{{ page.headertitle }}</h1>
    </header>
    
    <main>
        <div class="content fade-in">
            {{ content }}
        </div>
    </main>
    
    </body>
</html>
