{{ define "main" }}
    <!-- <div class="homepage-content">
        {{ .Content }}
    </div> -->
    <div id="about-me">
    <!-- <img src="/legoland.jpg" alt="A picture of me next to a donkey at Legoland (a Lego one)."> -->
    <div id="pics-of-me">
        <!-- <img src="/pretzel.png" width="200px" alt="A picture of me with a pretzel I got the one time I went to New York."> -->
        <!-- <img src="/eclipse.jpg" width="355px" alt="Lab retreat."> -->
        <img src="/ferry.jpeg" width="355px" alt="On the ferry to Martha's Vineyard during CBMM 2024 Summer School.">
        <img src="/sunshine-banff.png" width="355px" alt="View from Sunshine Village in the Summer in Banff">
    </div>

    
    <h1>Sheridan Feucht (they/them) - </h1> 
    <tt>feucht.s[at]northeastern.edu</tt>
    <p>Hello! I'm a third-year PhD student advised by <a href="https://baulab.info/">David Bau</a> and <a href="https://www.byronwallace.com/">Byron Wallace</a>
    at Northeastern University. Before that, I completed my B.S. in Computer Science at Brown University, where I worked with <a href="https://cs.brown.edu/people/epavlick/">Ellie Pavlick</a>
    in the <a href="https://lunar.cs.brown.edu/">LUNAR Lab</a>. I'm originally from Calgary, Canada.</p>
    I do mechanistic interpretability with the goal of understanding how language models represent concepts. How do LLMs represent the deeper, meaningful parts of language? What kinds of conceptual representations do they learn? How can this inform our basic assumptions of how language works in general? See a list of <a href="/research">my publications here.</a></p> 
    
    <h3>Recent updates</h3>
    <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; margin: 15px 0;">
    <p style="margin: 5px 0;"><b>Jan 2026:</b> I'll be visiting <a href="https://www.goodfire.ai/">Goodfire</a> as a Research Fellow from January through March! Excited to live in San Francisco for a bit.</p>
    <p style="margin: 5px 0;"><b>Dec 2025:</b> Check out my new blog post: <a href="rerereading">Is AI Writing Still Nonsense?</a></p>
    <p style="margin: 5px 0;"><b>Dec 2025:</b> Gave an invited lightning talk at the <a href="https://mechinterpworkshop.com/">NeurIPS Mech Interp Workshop</a> [<i>Equifinality: There's Often Multiple Explanations</i>].</p>
    <p style="margin: 5px 0;"><b>Nov 2025:</b> New preprint by student <a href="https://keremsahin22.github.io/">Kerem Şahin</a> on <a href="https://arxiv.org/abs/2511.05743">ICL without copying.</a></p>
    
    <p style="margin: 5px 0;"><b>Oct 2025:</b> Had a great time visiting Brown and giving an <a href="https://brown-ancor.github.io/">ANCOR</a> talk on recent work <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=8aa87877-2962-48ea-9d5c-b38001419004">[<i>LLMs represent words, not just tokens</i>]</a>.</p>
    <p style="margin: 5px 0;"><b>Sep 2025:</b> Gave an invited Zoom talk on recent work for Prof. Kyle Mahowald's seminar at UT Austin [<i>LLMs represent words, not just tokens</i>].</p>
    <p style="margin: 5px 0;"><b>Sep 2025:</b> Posters on <a href="https://arithmetic.baulab.info/">concept arithmetic</a>, as well as in-progress diffusion model work, were accepted to the NeurIPS Mech Interp Workshop.</p>
    <p style="margin: 5px 0;"><b>July 2025:</b> Our work, <a href="https://dualroute.baulab.info/">The Dual-Route Model of Induction</a>, was accepted to COLM.</p>
    <p style="margin: 5px 0;"><b>April 2025:</b> Wrote my <a href="/syllogisms">first blog post</a> on syllogisms and intelligence.</p>
    </div>

    <!-- https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=8aa87877-2962-48ea-9d5c-b38001419004 -->

    <hr>
    <p>I'm also a jazz drummer, and I do a bit of oil painting and creative writing. 
    <!-- In my undergrad, I played in small-group combos and was the drummer for an <a href="https://www.browndailyherald.com/article/2023/02/a-sense-of-belonging-jazz-band-ems-femmes-showcases-musical-talent">all-femme jazz/funk group</a>.  -->
    If you ever want to do music or art stuff together, feel free to reach out.</p>

    <!-- <hr> -->
    <i><a href="/headphones">What's in my headphones:</a></i> <a href="https://www.youtube.com/watch?v=TaKD1Vdarnw">King Harvest (Has Surely Come) - The Band</a>
    

    </div>


    <!-- {{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
    {{ else }}
        <nav></nav>
    {{ end }}  -->

    <!-- <div class="articles h-feed">
        {{ $pages := where (where site.RegularPages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true }}
        {{ range (.Paginate $pages).Pages }} //paginate: 10 
            {{ partial "post-summary.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div> -->

{{ end }}