{{ define "main" }}
    <!-- <div class="homepage-content">
        {{ .Content }}
    </div> -->
    <div id="about-me">
    <!-- <img src="/legoland.jpg" alt="A picture of me next to a donkey at Legoland (a Lego one)."> -->
    <div id="pics-of-me">
        <!-- <img src="/pretzel.png" width="200px" alt="A picture of me with a pretzel I got the one time I went to New York."> -->
        <!-- <img src="/eclipse.jpg" width="355px" alt="Lab retreat."> -->
        <img src="/ferry.jpeg" width="355px" alt="On the ferry to Martha's Vineyard during CBMM 2024 Summer School.">
        <img src="/eclipse.jpg" width="355px" alt="Presenting at the Bau lab's eclipse retreat in 2024">
    </div>

    
    <h1>Sheridan "Danny" Feucht (they/them) </h1> 
    <p>Hello! I'm a third-year PhD student advised by <a href="https://baulab.info/">David Bau</a> and <a href="https://www.byronwallace.com/">Byron Wallace</a>
    at Northeastern University. Before that, I completed my B.S. in Computer Science at Brown University, where I worked with <a href="https://cs.brown.edu/people/epavlick/">Ellie Pavlick</a>
    in the <a href="https://lunar.cs.brown.edu/">LUNAR Lab</a>. I'm originally from Calgary, Canada.</p>
    <p>I do mechanistic interpretability with the goal of understanding how language models represent concepts.
        How do LLMs represent the meaningful parts of language? What kinds of representations do they learn? 
        To what extent do they grasp the structure of human language, and how can this inform basic assumptions of how language works? 
        Check out my <a href="https://scholar.google.com/citations?user=4EobJQIAAAAJ&hl=en&oi=sra">Google Scholar</a> page 
        to see an up-to-date list of my work so far.  </p>

    <p>I'm also a jazz drummer, and I tinker in music-making and creative writing. 
    <!-- In my undergrad, I played in small-group combos and was the drummer for an <a href="https://www.browndailyherald.com/article/2023/02/a-sense-of-belonging-jazz-band-ems-femmes-showcases-musical-talent">all-femme jazz/funk group</a>.  -->
    If you ever want to do music stuff together, feel free to reach out.</p>

    <p>Email me at: <tt>feucht.s[at]northeastern.edu</tt></p>

    <br> 
    <i><a href="/headphones">What's in my headphones:</a></i> <a href="https://www.youtube.com/watch?v=1XtUK5Boy7o">Sunset - McCoy Tyner</a> (make sure to listen with headphones to hear the warm bass)

    </div>


    <!-- {{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
    {{ else }}
        <nav></nav>
    {{ end }}  -->

    <!-- <div class="articles h-feed">
        {{ $pages := where (where site.RegularPages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true }}
        {{ range (.Paginate $pages).Pages }} //paginate: 10 
            {{ partial "post-summary.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div> -->

{{ end }}