:root {
   /* light.css */ 
    --font-color: #333;
    --bg-color: #fff;

    --highlight-color:#c8ecce;
    --link-color:#5e9268;
    --link-state-color:#4b7654;
    --link-state-border-color: rgba(75, 118, 84, .5);

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --nav-bg-color: #fafafa;
    --nav-link-color: #696969;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #ccc;
    --hr-color: #ccc;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: grey;

    --switcher-color: #333;
    --switcher-bg-color: #fff; 

    --svg-color: #333;
    --svg-state-color: #a31d1d;
}
